<div class="message">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to user_short_path(message.publisher.username) do %>
        <b><%= message.publisher.name %></b>
        <small>@<%= message.publisher.username %></small>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="message-content">
        <%= link_to message.content, message_path(message) %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6">
      <p>
        <% if like = message.likes.find_by(user: current_user) %>
          <%= link_to fa_icon('heart'), message_like_path(message, return_to: request.fullpath), method: :delete, data: { toggle: :tooltip, placement: :bottom, title: 'Unlike' } %>&nbsp;
        <% else %>
          <%= link_to fa_icon('heart-o'), message_like_path(message, return_to: request.fullpath), method: :post, data: { toggle: :tooltip, placement: :bottom, title: 'Like' } %>&nbsp;
        <% end %>

        <%= link_to message_likes_path(message) do %>
          <%= number_with_delimiter(message.likes_count) %>
        <% end %>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <%= link_to fa_icon('facebook'), facebook_share_link(message_url(message)), target: :_blank %>&nbsp;
        <%= link_to fa_icon('twitter'), twitter_share_link(message_url(message)), target: :_blank %>&nbsp;
        <%= link_to fa_icon('linkedin'), linkedin_share_link(message_url(message)), target: :_blank %>
      </p>
    </div>
    <div class="col-xs-6 text-right">
      <p><%= time_ago_in_words message.created_at %> ago</p>
    </div>
  </div>
</div>
