<% provide :title, @user.name %>

<div class="row">
  <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-3 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <div class="row">
          <div class="col-md-12">
            <h4>
              <%= @user.name %><br>
              <small>
                @<%= @user.username %>
              </small>
            </h4>

            <% if current_user == @user %>
              <hr>
              <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-link' %>
            <% else %>
              <hr>
              <% if current_user && relationship = current_user.active_relationships.find_by(followed: @user) %>
                <%= link_to 'Unfollow', relationship_path(relationship, return_to: request.fullpath), method: :delete, class: 'btn btn-default btn-block' %>
              <% else %>
                <%= link_to 'Follow', relationships_path(return_to: request.fullpath, relationship: { followed_id: @user.id }), method: :post, class: 'btn btn-primary btn-block' %>
              <% end %>
            <% end %>
          </div>
        </div>

        <br>

        <div class="row text-center">
          <div class="col-md-6">
            <p>
              <%= link_to user_follower_path(@user) do %>
                <b>Follower</b><br>
                <%= number_with_delimiter @user.follower_count %>
              <% end %>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <%= link_to user_following_path(@user) do %>
                <b>Following</b><br>
                <%= number_with_delimiter @user.followed_count %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-5 col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Messages
        </h3>
      </div>

      <% unless @messages.present? %>
        <div class="panel-body">
          No messages yet.
        </div>
      <% end %>

      <ul class="list-group">
        <% @messages.each do |message| %>
          <li class="list-group-item">
            <%= render 'messages/message', message: message %>
          </li>
        <% end %>
      </ul>

      <% if @messages.total_pages > 1 %>
        <div class="panel-footer text-center">
          <%= will_paginate @messages, param_name: :messages_page, renderer: BootstrapPagination::Rails %>
        </div>
      <% end %>
    </div>
  </div>
</div>
