<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="row">
      <div class="col-md-7">
        <h1>Welcome on Qush</h1>

        <p>The quality message platform. Every user can publish one message per day with a maximum of 180 characters.</p>

        <ul>
          <li>Maximum one post per day</li>
          <li>Higher content quality</li>
          <li>Everything in 180 characters. No links!</li>
          <li>Follow your favorite users and don't miss a qush!</li>
        </ul>
      </div>

      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Join</h3>
          </div>

          <div class="panel-body">
            <%= simple_form_for User.new do |f| %>
              <%= f.input :name %>
              <%= f.input :email %>
              <%= f.input :password, required: true %>
              <%= f.input :password_confirmation, required: true %>
              <%= f.button :submit, 'Signup' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
