<!DOCTYPE html>
<html>
  <head>
    <title>
      Qush
      <% if content_for?(:title) %>
        - <%= yield(:title) %>
      <% end %>
    </title>
    <%= csrf_meta_tags %>

    <%= meta_tag :viewport, 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' %>
    <%= meta_tag :description, 'Back to short and important messages with quality. On Qush every user can push just one 180 chars message every 24 hours.' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'shared/head/favicons' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/messages' %>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
